{% extends "base.html" %}
{% block title %}
  Правила по ГОСТу
{% endblock %}
{% block content %}
  <h1 class="text-center">Правила по ГОСТу</h1>
  <div class="container pt-5" style="max-width:1000px">
    <ol>
      <li style="margin-bottom:5px">Выпускная квалификационная работа должна быть представлена в форме рукописи в печатном виде на листах белой бумаги формата А4 (210х297 мм), на одной стороне листа.</li>
      <hr>
      <li style="margin-bottom:5px">Общий объем ВКР магистранта должен быть не менее 60 страниц, специалиста — 50 страниц, бакалавра — 40 страниц (без приложений).</li>
      <hr>
      <li style="margin-bottom:5px">Каждая страница должна иметь одинаковые поля: размер левого поля — 30 мм, правого — 15 мм, верхнего и нижнего — по 20 мм, без рамки.</li>
      <hr>
      <li style="margin-bottom:5px">Набор текста осуществляется по следующим требованиям: шрифт Times New Roman, кегль 14, межстрочный интервал — 1,5. Текст форматируется по ширине страницы без применения автоматического переноса слов, первая строка абзаца с отступом 1,25 мм.</li>
      <hr>
      <li style="margin-bottom:5px">Математические формулы набираются в редакторе формул. Таблицы, рисунки, фотографии, чертежи, схемы и графики, как в тексте работы, так и в приложении должны быть четко оформлены, пронумерованы и иметь заголовок.</li>
      <hr>
      <li style="margin-bottom:5px">Титульный лист оформляется в соответствии с Приложением № 4.</li>
      <hr>
      <li style="margin-bottom:5px">Все страницы текста, включая его иллюстрации и приложения, должны иметь сквозную нумерацию. Титульный лист входит в общую нумерацию страниц, но номер на нем не проставляется. Страницы нумеруются арабскими цифрами вверху посередине страницы. Номер приложения размещают в правом верхнем углу над заголовком приложения после слова «Приложение». На все приложения в основной части работы должны быть ссылки.</li>
      <hr>
      <li style="margin-bottom:5px">Каждая глава ВКР начинается с новой страницы. Заголовок главы и параграфа печатается полужирным шрифтом по центру, прописными буквами, точка в конце заголовка не ставится.</li>
      <p>Заголовки глав нумеруются арабскими цифрами с точкой (ГЛАВА 1.; ГЛАВА 2.; ...), параграфов — двумя арабскими цифрами (1.1; 1.2.; 1.3. и т.д.), где первая цифра соответствует номеру главы, а вторая — номеру параграфа. Заголовки не подчеркиваются, в них не используются переносы.</p>
      <p>Расстояние между заголовками глав и последующим текстом должно равняться двум межстрочным интервалам. Такое же расстояние выдерживается между заголовками главы и параграфа. Это же правило относится к другим основным структурным частям работы: введению, заключению, списку литературы и приложениям.</p>
      <hr>
      <li style="margin-bottom:5px">Все иллюстрации (фотографии, рисунки, чертежи, графики, диаграммы и т.п.) обозначаются сокращенно словом «Рис.», которое пишется под иллюстрацией и нумеруется в рамках раздела арабскими цифрами: например, «Рис. 2.1.», т.е. первый рисунок второй главы. Под рисунком по центру обязательно размещаются его наименование и поясняющие надписи.</li>
      <hr>
      <li style="margin-bottom:5px">Таблицы нумеруются также, как рисунки, при этом слово «Таблица» пишется вверху, с правой стороны над таблицей с соответствующим номером: например, «Таблица 2.1.». Ниже слова «Таблица» помещают наименование или ее заголовок. Таблицы и иллюстрации располагают, как правило, сразу же после ссылки на них в тексте. Текст таблицы оформляется шрифтом Times New Roman, кегль 12, межстрочный интервал — 1.</li>
      <hr>
      <li style="margin-bottom:5px">При использовании в работе опубликованных или неопубликованных (рукописей) источников обязательна ссылка на авторов. Нарушение этой этической и правовой формы является плагиатом. Оформление ссылки должно соответствовать требованиям Национального стандарта РФ ГОСТ Р 7.0.5-2008 «Система стандартов по информатизации, библиотечному и издательскому делу. Библиографическая ссылка. Общие требования и правила составления».</li>
      <hr>
      <li style="margin-bottom:5px">Текст ВКР, сдаваемый на кафедру для представления в государственную экзаменационную комиссию, должен быть переплетен или сброшюрован.</li>
      <hr>
      <li style="margin-bottom:5px">К ВКР обязательно прикладывается презентация в распечатанном виде, или прикрепляется к ВКР в ЭОС.</li>
    </ol>
</div>
{% endblock %}